// Refactored @Wed, march 11, 2015

// Custom containers & wrappers
#main {
  position: relative;
}

#main-content {
  min-height: 600px;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -70px;
  padding: 0;
  position: relative;
  .container {
    max-width: 800px!important;
    padding: 75px 0 60px;
  }
}

// Navigation
#nav {
  padding: 0!important;
  .separator {
    color: #333!important;
    font-weight:700!important;
    margin-bottom: 1px;
    margin-top: 1px;
    background: $primary-color;
    padding: 10px 0 10px 10px;
  }
}

.sidebar { //change class -> id
  position: fixed;
  min-width: 139px;
  padding: 0!important;
  a {
    font-weight: 700!important;
    &:hover,
    &:focus {
      text-decoration: none;
      color: $lnk-highlight-color;
    }
  }
  li {
    list-style-type: none;
    display: block;
    background: $primary-color;
    margin: 0;
    padding: 5px 10px;
  }
}

// where is the styling for class="top-nav" ??
// where is the styling for class="link" ??
.projects-img {
  width: 98%;
  height: 200px;
  margin: 15px auto;
}

.twitter-timeline {
  width: 800px !important;
}

.tweet-block {
  margin-top: 25px;
  .text-block { 
    background-color: #fff !important;
    margin: 10px 0;     
  }
}

.text-block {
  padding: 30px;
  background-color: $primary-color;
}

.h-list {
  padding-top: 10px;   
  li {
    float: left;
    padding-right: 30px;
  }
}

.h-list.custom-text-block {
  padding-left: 250px;
}

.custom-text-block {
  padding-left: 220px;
}

.postlist-block > li .fa-comments-o {
  color: black;
}

.postlist-block > li .fa-ellipsis-h {
  color: #428bca;
}

.postlist-block > li .fa-compress {
  color: red;
}

.postlist-block > li .fa-expand {
  color: #22D722;
}

.posts > .post-li:last-child {
  border-bottom: none;
}

ul {  
  list-style-type: square;
}

img {
  max-width: 635px;
}





body {
  color:#000;
  font: 17px Poly, 'Helvetica Neue', Helvetica, serif, Arial !important;
}

.footer {
  height:60px;
}





