---
---
{% include head.html %}

<main id="main">
    <span class="statusbar"></span>

    <!-- Wrap all page content here -->
    <div id="wrap">
        <div id="main-content" class="container">
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- side bar -->
                <nav id="nav" role="navigation" class="col-sm-2 sidebar-offcanvas">
                    <header id="menu" role="banner">
                        <p class="menu-title">Close</p>
                        <a href="#nav" class="close-btn">Close</a>
                    </header>                  
                </nav>
                <header id="menu" role="banner">
                    <p class="menu-title">Menu</p>
                    <a href="#nav" class="menu-btn">navigation</a>
                </header>
                <!-- Content -->
                <div class="content col-sm-12">
                    <div class="top-nav">
                        <a class="link" href="/">{{ site.time | date: '%B %d, %Y' }}</a>
                        <span class="pull-right">
                            <a id="twitter-ic" class="link" href="https://twitter.com/{{site.owner.twitter}}">
                                <i class="fa fa-twitter fa-lg"></i>
                            </a>
                            <a id="git-ic" class="link" href="https://github.com/{{site.owner.github}}">
                                <i class="fa fa-github-square fa-lg"></i>
                            </a>
                            <a id="rss-ic" class="link" href="{{site.url}}/feed.xml">
                                <i class="fa fa-rss fa-lg"></i>
                            </a>
                        </span>
                    </div>
                    <div class="row text-block">
                        <img src="https://lh5.googleusercontent.com/-XJG72UlshL0/VLpqPCpF6SI/AAAAAAAADkM/TJDKOdPMQyU/s920-no/1413447.jpeg" class="img-thumbnail" style="width: 200px; height: 200px; left: 30px; position: absolute; top: 70px;" />
                        <div class="custom-text-block">
                            My name is Nii /ni:/. I’m a full-stack web developer living in Ghana who primarily works with Ruby on Rails to build software for others. More information can be found through LinkedIn. Got a project idea, let’s chat

                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                        </div>
                    </div>                    
                    <ul class="h-list custom-text-block">
                        <li><a >Hire me</a></li>
                        <li><a href="{{ "/blog.html" | prepend: site.url }}">Blog</a></li>
                        <li><a >Read my bio</a></li>
                        <li><a href="{{ "/projects.html" | prepend: site.url }}">Projects</a></li>
                        <li><a >Contact me</a></li>
                    </ul>
                    <div class="row tweet-block">            
                        <div class="text-block">
                            {% include scripts/twitter_block.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center postlist-meta">
            Powered by <a class="link" href="https://github.com/nadjetey/wangana">Wangana</a> - Jekyll theme.
        </footer>
    </div>
</main>
{% include footer.html %}