---
---
{% include head.html %}

<main id="main">
    <span class="statusbar"></span>

    <!-- Wrap all page content here -->
    <div id="wrap">
        <div id="main-content" class="container">
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- side bar -->
                <nav id="nav" role="navigation" class="col-sm-2 sidebar-offcanvas">
                    <header id="menu" role="banner">
                        <p class="menu-title">Close</p>
                        <a href="#nav" class="close-btn">Close</a>
                    </header>                  
                </nav>
                <header id="menu" role="banner">
                    <p class="menu-title">Menu</p>
                    <a href="#nav" class="menu-btn">navigation</a>
                </header>
                <!-- Content -->
                <div class="content col-sm-12">
                    <div class="top-nav">
                        <a class="link" href="/">{{ site.time | date_to_rfc822 }}</a>
                        <span class="pull-right">
                            <a id="twitter-ic" class="link" href="https://twitter.com/{{site.owner.twitter}}">
                                <i class="fa fa-twitter fa-lg"></i>
                            </a>
                            <a id="git-ic" class="link" href="https://github.com/{{site.owner.github}}">
                                <i class="fa fa-github-square fa-lg"></i>
                            </a>
                            <a id="rss-ic" class="link" href="{{site.url}}/feed.xml">
                                <i class="fa fa-rss fa-lg"></i>
                            </a>
                        </span>
                    </div>
                    <div class="row text-block">
                        <img src="https://lh5.googleusercontent.com/-XJG72UlshL0/VLpqPCpF6SI/AAAAAAAADkM/TJDKOdPMQyU/s920-no/1413447.jpeg" class="img-thumbnail" style="width: 200px; height: 200px; left: 30px; position: absolute; top: 70px;" />
                        <div class="custom-text-block">
                        <p>Name: <strong>Nii</strong></p>
                        <p>Location: <strong>Accra</strong>, Ghana.</p>
                        <p>Bio: I’m a full-stack web developer with a passion for Ruby on Rails.</p> 
                        <i><a href="mailto:adjetey.07@gmail.com?subject=nadjetey's_blog:Project idea">Do you have a project idea? Let’s chat</a></i>
                        </div>
                    </div>                    
                    <ul class="h-list custom-text-block">
                        <li><a href="{{ "/blog.html" | prepend: site.url }}">Blog</a></li>
                        <li><a href="http://gh.linkedin.com/pub/nii-adjetey-sowah/1a/147/ab8/" target="_blank">Read my bio</a></li>
                        <li><a href="{{ "/projects.html" | prepend: site.url }}">Projects</a></li>
                        <li><a href="mailto:adjetey.07@gmail.com?subject=nadjetey's_blog:Hire me">Hire me</a></li>
                    </ul>
                    <div class="row tweet-block">            
                        <div class="text-block">
                            {% include scripts/twitter_block.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center postlist-meta">
            Powered by <a class="link" href="https://github.com/nadjetey/wangana">Wangana</a> - Jekyll theme.
        </footer>
    </div>
</main>
{% include footer.html %}