---
layout: default
---
<div class="heading">
    <div class="header-main container">
        <h1>{{ page.title }}</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>                    
    </div>
    <div class="header-main meta">
        <p>meta</p>
    </div>
</div>

<div class="main container">    
    {{ content }}
</div>

